{% extends "base.html.twig" %}

{% block title %}
{% if connections %}
    {{ from }} – {{ to }}
{% else %}
    Transport
{% endif %}
{% endblock %}

{% block head %}
    <script>
        $(function () {

            if (navigator.geolocation) {

                if (!$('input[name=from]').val()) {

                    $('input[name=from]').attr('placeholder', 'Locating...');

                    var i = 0;
                    var interval = setInterval(function () {
                        i = (i + 1) % 4;
                        var message = 'Locating';
                        for (var j = 0; j < i; j++) {
                            message += '.';
                        }
                        $('input[name=from]').attr('placeholder', message);
                    }, 400);

                    // get location for from
                    var watch = navigator.geolocation.watchPosition(function (position) {

                        if (position.coords.accuracy < 100) {

                            // stop locating
                            navigator.geolocation.clearWatch(watch);

                            var lat = position.coords.latitude;
                            var lng = position.coords.longitude;

                            $.get('http://transport.opendata.ch/v1/locations', {x: lat, y: lng}, function(data) {

                                clearInterval(interval);
                                $('input[name=from]').attr('placeholder', 'From');

                                $(data.stations).each(function (i, station) {

                                    if (!$('input[name=from]').val()) {
                                        $('input[name=from]').val(station.name);
                                    }

                                    return false;
                                });
                            });
                        }
    
                    }, function(error) {
                        // ignore
                    }, {
                        enableHighAccuracy:true,
                        maximumAge: 10000,
                        timeout: 30000
                    });
                }
            }

            function reset() {
                $('table.connections tr.connection').show();
                $('table.connections tr.section').hide();
            }

            $('table.connections tr.connection').bind('click', function (e) {

                reset();

                var $this = $(this);
                $this.hide();
                $this.nextAll('tr.section').show();

                if ('replaceState' in window.history) {
                    history.replaceState({}, '', '?' + $('.pager').serialize() + '&c=' + $this.data('c'));
                }
            });

            $('.station input').bind('focus', function () {
                var that = this;
                setTimeout(function () {
                    that.setSelectionRange(0, 9999);
                }, 10);
            });
        });
    </script>
{% endblock %}

{% block content %}
        <div class="span5">

            <form method="get" action="">
                <div class="row-fluid">
                    <div class="span5 fluid station">
                        <input type="text" name="from" value="{{ from }}" placeholder="From" autocapitalize="on" />
                        {% if stationsFrom %}
                            <p>
                                Did you mean:
                                {% for station in stationsFrom %}
                                    <a href="{{ path('connections', {'from': station, 'to': to, 'datetime': datetime}) }}">{{ station }}</a>
                                    {%- if not loop.first -%}
                                        ,
                                    {%- endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="span5 fluid station">
                        <input type="text" name="to" value="{{ to }}" placeholder="To" autocapitalize="on" autofocus />
                        {% if stationsTo %}
                            <p>
                                Did you mean:
                                {% for station in stationsTo %}
                                    <a href="{{ path('connections', {'from': from, 'to': station, 'datetime': datetime}) }}">{{ station }}</a>
                                    {%- if not loop.first -%}
                                        ,
                                    {%- endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5 fluid date">
                        <input type="datetime-local" name="datetime" value="{% if datetime %}{{ datetime|date('Y-m-d H:i') }}{% endif %}" placeholder="Date and time" step="300" />
                    </div>
                    <div class="span5 fluid apply">
                        <input type="submit" class="btn" value="Search" />
                        <a href="{{ path('connections') }}">Clear</a>
                    </div>
                </div>
            </form>
        
        </div>
        <div class="span7">

            {% if connections %}
                <table class="table connections">
                    <colgroup>
                        <col width="20%">
                        <col width="57%">
                        <col width="23%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Journey</th>
                            <th>
                                <span class="visible-phone">Pl.</span>
                                <span class="hidden-phone">Platform</span>
                            </th>
                        </tr>
                    </thead>
                    {% for connection in connections %}
                        <tbody>
                            <tr class="connection"{% if loop.index == c %} style="display: none;"{% endif %} data-c="{{ loop.index }}">
                                <td>
                                    {{ connection.from.departure|date("H:i") }}
                                    {% if connection.from.delay %}
                                        <span style="color: #a20d0d;">+{{connection.from.delay }}</span>
                                    {% endif %}
                                    <br/>
                                    {{ connection.to.arrival|date("H:i") }}
                                    {% if connection.to.delay %}
                                        <span style="color: #a20d0d;">+{{connection.to.delay }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ connection.duration|slice(4, 4) }}′<br/>
                                    <span class="muted">
                                        {{ connection.products|join(", ") }}
                                    </span>
                                </td>
                                <td>
                                    {% if connection.from.prognosis.platform %}
                                        <span style="color: #a20d0d;">{{ connection.from.prognosis.platform }}</span>
                                    {% else %}
                                        {{ connection.from.platform }}
                                    {% endif %}
                                    <br/>
                                    {% if connection.capacity2nd > 0 %}
                                        <span class="muted" title="Capacity 2nd class">
                                            {%- for i in [0, 1, 2] -%}
                                                {%- if i < connection.capacity2nd -%}
                                                    ●
                                                {%- else -%}
                                                    ○
                                                {%- endif -%}
                                            {%- endfor -%}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% for section in connection.sections %}
                                <tr class="section"{% if loop.parent.loop.index != c %} style="display: none;"{% endif %}>
                                    <td rowspan="2">
                                        {{ section.departure.departure|date("H:i") }}
                                        {% if section.departure.delay %}
                                            <span style="color: #a20d0d;">+{{ section.departure.delay }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('stationboard', {'station': section.departure.station.name, 'datetime': section.departure.departure|date("Y-m-d H:i") }) }}">
                                            {{ section.departure.station.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if section.departure.prognosis.platform %}
                                            <span style="color: #a20d0d;">{{ section.departure.prognosis.platform }}</span>
                                        {% else %}
                                            {{ section.departure.platform }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="section"{% if loop.parent.loop.index != c %} style="display: none;"{% endif %}>
                                    <td style="border-top: 0; padding: 4px 8px;">
                                        <span class="muted">
                                            {% if section.journey %}
                                                {{ section.journey.name }}
                                            {% else %}
                                                Walk
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td style="border-top: 0; padding: 4px 8px;">
                                        <span class="muted" title="Capacity 2nd class">
                                            {% if section.journey and section.journey.capacity2nd > 0 %}
                                                {%- for i in [0, 1, 2] -%}
                                                    {%- if i < section.journey.capacity2nd -%}
                                                        ●
                                                    {%- else -%}
                                                        ○
                                                    {%- endif -%}
                                                {%- endfor -%}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr class="section"{% if loop.parent.loop.index != c %} style="display: none;"{% endif %}>
                                    <td style="border-top: 0;">
                                        {{ section.arrival.arrival|date("H:i") }}
                                        {% if section.arrival.delay %}
                                            <span style="color: #a20d0d;">+{{ section.arrival.delay }}</span>
                                        {% endif %}
                                    </td>
                                    <td style="border-top: 0;">
                                        <a href="{{ path('stationboard', {'station': section.arrival.station.name, 'datetime': section.arrival.arrival|date("Y-m-d H:i")}) }}">
                                            {{ section.arrival.station.name }}
                                        </a>
                                    </td>
                                    <td style="border-top: 0;">
                                        {% if section.arrival.prognosis.platform %}
                                            <span style="color: #a20d0d;">{{ section.arrival.prognosis.platform }}</span>
                                        {% else %}
                                            {{ section.arrival.platform }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>

                {% if not datetime %}
                    {% set datetime = ""|date('Y-m-d H:i') %}
                {% endif %}
                <form class="pager">
                    <input type="hidden" name="from" value="{{ from }}" />
                    <input type="hidden" name="to" value="{{ to }}" />
                    <input type="hidden" name="datetime" value="{{ datetime }}" />
                    <input type="hidden" name="page" value="{{ page }}" />
                </form>
                <div class="row-fluid">
                    <div class="span4 fluid earlier">
                        <a href="{{ path('connections', {'from': from, 'to': to, 'datetime': datetime, 'page': page - 1}) }}">Earlier</a>
                    </div>
                    <div class="span4 fluid reverse">
                        <a href="{{ path('connections', {'from': to, 'to': from}) }}">Opposite direction</a>
                    </div>
                    <div class="span4 fluid later">
                        <a href="{{ path('connections', {'from': from, 'to': to, 'datetime': datetime, 'page': page + 1}) }}">Later</a>
                    </div>
                </div>
            {% endif %}
        </div>        
{% endblock %}
