{% extends "base.html.twig" %}

{% block title %}
{% if connections %}
    {{ from }} – {{ to }}
{% else %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/components/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>
    <script src="/components/moment/min/moment.min.js"></script>
    <script src="/components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/connections.js?v=4"></script>
    <script>

    var TRNSPRT_CONNECTIONS_URL = '{% if connections %}{{ path('connections', {
       'from': from,
       'to': to,
       'at': datetime,
       'page': page
    })}}{% endif %}';
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-5 form-query">

            <form method="get" action="">
                <div class="row">
                    <div class="col-xs-6 station">
                        <div class="form-group">
                            <input type="text" class="form-control" name="from" value="{{ from }}" placeholder="From" tabindex="1" autocomplete="off" autocapitalize="on" />
                            {% if stationsFrom %}
                                <p>
                                    Did you mean:
                                    {% for station in stationsFrom %}
                                        <a href="{{ path('connections', {'from': station, 'to': to, 'at': datetime}) }}">{{ station }}</a>
                                        {%- if not loop.last -%}
                                            ,
                                        {%- endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-6 station">
                        <div class="form-group">
                            <input type="text" class="form-control" name="to" value="{{ to }}" placeholder="To" tabindex="2" autocomplete="off" autocapitalize="on" />
                            {% if stationsTo %}
                                <p>
                                    Did you mean:
                                    {% for station in stationsTo %}
                                        <a href="{{ path('connections', {'from': from, 'to': station, 'at': datetime}) }}">{{ station }}</a>
                                        {%- if not loop.last -%}
                                            ,
                                        {%- endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 date">
                        <input type="text" class="form-control" name="datetime" value="{% if datetime %}{{ datetime|date('Y-m-d\\TH:i') }}{% endif %}" placeholder="Date and time (optional)" tabindex="3" />
                    </div>
                    <div class="col-xs-6 apply">
                        <input type="submit" class="btn btn-primary" value="Search" tabindex="5" />
                        <a class="btn btn-link" href="{{ path('home') }}" tabindex="6">Clear</a>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm-7">

            {% if connections %}
                <table class="table connections">
                    <colgroup>
                        <col width="20%">
                        <col width="57%">
                        <col width="23%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Journey</th>
                            <th>
                                <span class="visible-xs-inline">Pl.</span>
                                <span class="hidden-xs">Platform</span>
                            </th>
                        </tr>
                    </thead>
                    {% for connection in connections %}
                        <tbody>
                            <tr class="connection"{% if loop.index == c %} style="display: none;"{% endif %} data-c="{{ loop.index }}">
                                <td>
                                    {{ connection.from.departure|date("H:i") }}
                                    {% if connection.from.delay %}
                                        <span style="color: #a20d0d;">+{{connection.from.delay }}</span>
                                    {% endif %}
                                    <br/>
                                    {{ connection.to.arrival|date("H:i") }}
                                    {% if connection.to.delay %}
                                        <span style="color: #a20d0d;">+{{connection.to.delay }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if connection.duration|slice(0, 2) > 0 %}
                                        {{ connection.duration|slice(0, 2)|trim("0") }}d
                                    {% endif %}
                                    {{ connection.duration|slice(3, 1)|trim("0") }}{{ connection.duration|slice(4, 4) }}′<br/>
                                    {% for section in connection.sections %}
                                        {% if section.journey -%}
                                            <span class="journey-line" style="background-color: {{ section.journey.bg|default('#ddd') }}; color: {{ section.journey.fg|default('#555') }};">
                                                {{- section.journey.category -}}
                                            </span>
                                        {%- endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if connection.from.prognosis.platform and connection.from.prognosis.platform != connection.from.platform %}
                                        <span style="color: #a20d0d;">{{ connection.from.prognosis.platform }}</span>
                                    {% else %}
                                        {{ connection.from.platform }}
                                    {% endif %}
                                    <br/>
                                    {% if connection.capacity2nd > 0 %}
                                        <small title="Expected occupancy 2nd class">
                                            {%- for i in [0, 1, 2] -%}
                                                {%- if i < connection.capacity2nd -%}
                                                    <span class="glyphicon glyphicon-user text-muted"></span>
                                                {%- else -%}
                                                    <span class="glyphicon glyphicon-user text-disabled"></span>
                                                {%- endif -%}
                                            {%- endfor -%}
                                        </small>
                                    {% endif %}
                                </td>
                            </tr>
                            {% for section in connection.sections %}
                                <tr class="section"{% if loop.parent.loop.index != c %} style="display: none;"{% endif %}>
                                    <td rowspan="2">
                                        {{ section.departure.departure|date("H:i") }}
                                        {% if section.departure.delay %}
                                            <span style="color: #a20d0d;">+{{ section.departure.delay }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if section.departure.location.id is defined %}
                                            <a href="{{ path('stationboard', {'station': section.departure.location.name, 'datetime': section.departure.departure|date("Y-m-d H:i") }) }}">
                                                {{ section.departure.location.name }}
                                            </a>
                                        {% else %}
                                            {{ section.departure.location.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if section.departure.prognosis.platform and section.departure.prognosis.platform != section.departure.platform %}
                                            <span style="color: #a20d0d;">{{ section.departure.prognosis.platform }}</span>
                                        {% else %}
                                            {{ section.departure.platform }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="section"{% if loop.parent.loop.index != c %} style="display: none;"{% endif %}>
                                    <td style="border-top: 0; padding: 4px 8px;">
                                        <span class="journey-line" style="background-color: {{ section.journey.bg|default('#ddd') }}; color: {{ section.journey.fg|default('#555') }};">
                                            {%- if section.journey -%}
                                                {{- section.journey.category }}
                                                {{ section.journey.number -}}
                                            {%- else -%}
                                                Walk
                                            {%- endif -%}
                                        </span>
                                    </td>
                                    <td style="border-top: 0; padding: 4px 8px;">
                                        <small title="Expected occupancy 2nd class">
                                            {% if section.journey and section.journey.capacity2nd > 0 %}
                                                {%- for i in [0, 1, 2] -%}
                                                    {%- if i < section.journey.capacity2nd -%}
                                                        <span class="glyphicon glyphicon-user text-muted"></span>
                                                    {%- else -%}
                                                        <span class="glyphicon glyphicon-user text-disabled"></span>
                                                    {%- endif -%}
                                                {%- endfor -%}
                                            {% endif %}
                                        </small>
                                    </td>
                                </tr>
                                <tr class="section"{% if loop.parent.loop.index != c %} style="display: none;"{% endif %}>
                                    <td style="border-top: 0;">
                                        {{ section.arrival.arrival|date("H:i") }}
                                        {% if section.arrival.delay %}
                                            <span style="color: #a20d0d;">+{{ section.arrival.delay }}</span>
                                        {% endif %}
                                    </td>
                                    <td style="border-top: 0;">
                                        {% if section.arrival.location.id is defined %}
                                            <a href="{{ path('stationboard', {'station': section.arrival.location.name, 'datetime': section.arrival.arrival|date("Y-m-d H:i")}) }}">
                                                {{ section.arrival.location.name }}
                                            </a>
                                        {% else %}
                                            {{ section.arrival.location.name }}
                                        {% endif %}
                                    </td>
                                    <td style="border-top: 0;">
                                        {% if section.arrival.prognosis.platform and section.arrival.prognosis.platform != section.arrival.platform %}
                                            <span style="color: #a20d0d;">{{ section.arrival.prognosis.platform }}</span>
                                        {% else %}
                                            {{ section.arrival.platform }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="section"{% if loop.index != c %} style="display: none;"{% endif %}>
                                <td>&nbsp;</td>
                                <td>
                                    {% if connection.duration|slice(0, 2) > 0 %}
                                        {{ connection.duration|slice(0, 2)|trim("0") }}d
                                    {% endif %}
                                    {{ connection.duration|slice(3, 1)|trim("0") }}{{ connection.duration|slice(4, 4) }}′
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>

                <div class="row">
                    <div class="col-xs-3">
                        <a href="{{ path('connections', {'from': from, 'to': to, 'at': datetime, 'page': page - 1}) }}" tabindex="8">Earlier</a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="{{ path('connections', {'from': to, 'to': from, 'at': datetime}) }}" tabindex="7">Opposite direction</a>
                        <br>
                        <a href="sbbmobile://timetable?from={{ from|url_encode }}&amp;to={{ to|url_encode }}&amp;time={{ datetime|date('U') }}" tabindex="10">Open in SBB app</a>
                    </div>
                    <div class="col-xs-3 text-right">
                        <a href="{{ path('connections', {'from': from, 'to': to, 'at': datetime, 'page': page + 1}) }}" tabindex="9">Later</a>
                    </div>
                </div>
            {% else %}
                <p>Fill out the form to search for a connection with public transport.</p>
                <p>Share the found connection by copying the web address into any message.<p/>
            {% endif %}
        </div>
    </div>
{% endblock %}
