{% extends "base.html.twig" %}

{% block title %}
{% if stationboard %}
    {{ station }}
{% else %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block head %}
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-5">

            <form method="get" action="">
                <div class="row">
                    <div class="col-sm-6 station">
                        <div class="form-group">
                            <input type="text" class="form-control" name="station" value="{{ station }}" placeholder="Station" autocapitalize="on" />
                        </div>
                    </div>
                    <div class="col-sm-6 apply">
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Search" />
                            <a class="btn btn-link" href="{{ path('stationboard') }}">Clear</a>
                        </div>
                    </div>
                </div>
            </form>

            {% if coordinates %}
                <div id="stationboard-map"></div>
                <script type='text/javascript'>
                    L.mapbox.accessToken = 'pk.eyJ1IjoiZXF1aXZhbGVuY2UiLCJhIjoiMFBRTUluVSJ9.7uRExGiymnKgvKfN9LvaMw';
                    var map = L.mapbox.map('stationboard-map', 'mapbox.streets')
                        .setView([{{ coordinates.x }}, {{ coordinates.y }}], 14);

                    var geoJson = [{
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [{{ coordinates.y }}, {{ coordinates.x }}]
                        },
                        properties: {
                            'title': '{{ station }}',
                            'marker-color': '#AF1E3A'
                        }
                    }];
                    map.featureLayer.setGeoJSON(geoJson);
                </script>
              {% endif %}

        </div>
        <div class="col-sm-7">

            {% if stationboard %}
                <table class="table connections">
                    <colgroup>
                        <col width="20%">
                        <col width="57%">
                        <col width="23%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>To</th>
                            <th>
                                <span class="visible-xs-inline">Pl.</span>
                                <span class="hidden-xs">Platform</span>
                            </th>
                        </tr>
                    </thead>
                    {% for journey in stationboard %}
                    <tbody>
                        <tr>
                            <td>
                                {{ journey.stop.departure|date("H:i") }}
                                {% if journey.stop.delay %}
                                    <span style="color: #a20d0d;">+{{journey.stop.delay }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ journey.to }}
                                <br/>
                                <span class="text-muted">
                                    {{ journey.name }}
                                </span>
                            </td>
                            <td>
                                {% if journey.stop.prognosis.platform %}
                                    <span style="color: #a20d0d;">{{ journey.stop.prognosis.platform }}</span>
                                {% else %}
                                    {{ journey.stop.platform }}
                                {% endif %}
                                <br/>
                                {% if journey.stop.prognosis.capacity2nd > 0 %}
                                    <small title="Expected occupancy 2nd class">
                                        {%- for i in [0, 1, 2] -%}
                                            {%- if i < journey.stop.prognosis.capacity2nd -%}
                                                <span class="glyphicon glyphicon-user text-muted"></span>
                                            {%- else -%}
                                                <span class="glyphicon glyphicon-user text-disabled"></span>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </small>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
