{% extends "base.html.twig" %}

{% block title %}
{% if stationboard %}
    {{ station }}
{% else %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-5">

            <form method="get" action="">
                <div class="row">
                    <div class="col-sm-6 station">
                        <div class="form-group">
                            <input type="text" class="form-control" name="station" value="{{ station }}" placeholder="Station" autocapitalize="on" />
                        </div>
                    </div>
                    <div class="col-sm-6 apply">
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Search" />
                            <a class="btn btn-link" href="{{ path('stationboard') }}">Clear</a>
                        </div>
                    </div>
                </div>
            </form>

            {% if coordinates %}
                <div id="stationboard-map"></div>
                <script type='text/javascript'>
                    mapboxgl.accessToken = 'pk.eyJ1IjoiZXF1aXZhbGVuY2UiLCJhIjoiMFBRTUluVSJ9.7uRExGiymnKgvKfN9LvaMw';
                    const map = new mapboxgl.Map({
                        container: 'stationboard-map',
                        style: 'mapbox://styles/mapbox/streets-v12',
                        center: [{{ coordinates.y }}, {{ coordinates.x }}],
                        zoom: 14
                    });
                    map.addControl(new mapboxgl.NavigationControl({showCompass: false}));

                    const marker = new mapboxgl.Marker({ color: '#AF1E3A' })
                        .setLngLat([{{ coordinates.y }}, {{ coordinates.x }}])
                        .addTo(map);
                </script>
              {% endif %}

        </div>
        <div class="col-sm-7">

            {% if stationboard %}
                <table class="table connections">
                    <colgroup>
                        <col width="20%">
                        <col width="57%">
                        <col width="23%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>To</th>
                            <th>
                                <span class="visible-xs-inline">Pl.</span>
                                <span class="hidden-xs">Platform</span>
                            </th>
                        </tr>
                    </thead>
                    {% for journey in stationboard %}
                    <tbody>
                        <tr>
                            <td>
                                {{ journey.stop.departure|date("H:i") }}
                                {% if journey.stop.delay %}
                                    <span style="color: #a20d0d;">+{{journey.stop.delay }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ journey.to }}
                                <br/>
                                <span class="journey-line" style="background-color: {{ journey.bg|default('#ddd') }}; color: {{ journey.fg|default('#555') }};">
                                    {{- journey.category }}
                                    {{ journey.number -}}
                                </span>
                            </td>
                            <td>
                                {% if journey.stop.prognosis.platform and journey.stop.prognosis.platform != journey.stop.platform %}
                                    <span style="color: #a20d0d;">{{ journey.stop.prognosis.platform }}</span>
                                {% else %}
                                    {{ journey.stop.platform }}
                                {% endif %}
                                <br/>
                                {% if journey.stop.prognosis.capacity2nd > 0 %}
                                    <small title="Expected occupancy 2nd class">
                                        {%- for i in [0, 1, 2] -%}
                                            {%- if i < journey.stop.prognosis.capacity2nd -%}
                                                <span class="glyphicon glyphicon-user text-muted"></span>
                                            {%- else -%}
                                                <span class="glyphicon glyphicon-user text-disabled"></span>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </small>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
